.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;
}

.header_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 12px;
}

.header_container_text_left {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.header_container_text_right {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    margin-right: auto;

}

/* justify-content: space-between; */

.header_container_div {
    justify-content: space-between;
}

.header_container_btn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    background-color: '#4caf50';
    padding: 15px;
    border-radius: 8px;
}

.header_container_btn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

/*===========================================================*/

.Table {
    width: 100%;
    border-collapse: collapse;
}

.Table th,
.Table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.Table thead {
    background-color: #eeeeee;
}

.titleLink {
    text-decoration: none;
    color: black;
}


li {
    margin-bottom: 12px;
}


li:last-child {
    margin-bottom: 0;
}

.chart_layout_parent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
}


.layout_child {
    flex: 1;
    min-width: 0;
}