.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;
}

.header_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 12px;
}

.header_container_text_left {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.header_container_text_right {
    display: flex;
    /* width: 100%; */
    align-items: center;
    gap: 12px;
    margin-right: auto;

}

.header_container_li {}

.header_container_btn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    /* 1. 내부 요소들을 오른쪽 끝으로 정렬 */
    gap: 10px;
    background-color: '#4caf50';
    padding: 15px;
    border-radius: 8px;
}

.header_container_btn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

/*===========================================================*/

.Table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
}

.Table th,
.Table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.Table thead {
    background-color: #eeeeee;
}

.titleLink {
    text-decoration: none;
    color: black;
}

li {
    margin-bottom: 12px;
}

li:last-child {
    margin-bottom: 0;
}

.Signature_div {
    display: flex;
    position: relative;
    align-items: center;
    /* 좌우 자식들의 세로 가운데 정렬 */
    justify-content: center;
    /* 가운데로 몰아주기 */
    /* gap: 100px; */
    /* 왼쪽과 오른쪽 사이의 정당한 틈새 */
    width: 100%;
    /* 부모 전체 너비 사용 */
}

.Signature_btn1 {
    width: 100px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
}

.Signature_btn2 {
    width: 100px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.div_text {
    position: absolute;
    right: 500px;
}

.sal_div_header {
    display: flex;
    flex-direction: row;
    gap: 30px;
}